<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bonjour</title>
</head>
<body>
<H1>Bienvenu(e) sur la page de gestion des factures</H1>
<H2>Actions disponibles :</H2>
<ul>

    <li><a href="">Ajouter une facture</a></li>
</ul>
<table border-width= "1">

    <tr th:each = "invoice : ${invoices}">
        <td>
            <a th:href = "${invoice.number}" th:text="${invoice.number}"> </a>
        </td>
        <td th:text = "${invoice.customerName}"></td>
    </tr>
</table>
</body>
</html>